.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 4s;
}

.ex-1-square:hover{
    background-color: red;
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 4s;
}

.ex-2-square:active{
    width: 80%;
}

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 4s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 4s;
}

.ex-4-square:hover{
    width: 0px;
}

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 4s;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

.ex-5-square:active{
    width: 30px;
    height: 30px;
}

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img{
    transition: 4s;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img{
    transition: 4s;
}

.ex-7-img:hover{
    filter: opacity(0.6) hue-rotate(90deg);
}

.ex-8-img{
    transition: 4s;
}

.ex-8-img:hover{
    filter: grayscale(0.8) sepia(1);
    border-radius: 150px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 4s;
}

.ex-9-img:hover{
    filter: grayscale(0.8) sepia(1);
    border-radius: 100px;
    width: 200px;
}

.ex-10-icon {
    font-size: 60px;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover {
    animation: rotateabit 4s linear;
}

@keyframes rotateabit {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation: move1 4s linear;
}

@keyframes move1{
    0% {
        left: 10%;
    }
    50% {
        left: 60%;
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: move2 4s linear;
}

@keyframes move2{
    0% {
        right: 10%;
    }
    50% {
        right: 60%;
    }
    100% {
        right: 10%;
    }
}

.ex-13-button:hover .ex-13-top-white{
    animation: moveall1 4s linear;
}

@keyframes moveall1{
    0% {
        left: 10%;
    }
    30% {
        left: 30%;
    }
    45% {
        left: 45%;
    }
    75% {
        left: 75%;
    }
    90% {
        left: 90%;
    }
    100% {
        left: 10%:
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: moveall2 4s linear;
}

@keyframes moveall2{
    0% {
        right: 20%;
    }
    30% {
        right: 30%;
    }
    45% {
        right: 45%;
    }
    75% {
        right: 75%;
    }
    90% {
        right: 90;
    }
    100% {
        right: 20%;
    }
}
